<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jumbo Taco</title>
    <script src="../js/scripts.js" defer></script>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1 class="header">Jumbo Taco</h1>
            <nav class="navbar">
                <a href="../index.html">Home</a>
                <a href="services.html">Make Your Taco</a>
                <a href="about.html">About</a>
                <a href="contact.html">Contact</a>
            </nav>
        </header>

        <section>
            <h2>About Us</h2>
            <p>
                We are a humble local business that started from a Taco Truck, to our own Taco franchise. Starting in 1979, our founder Francisco Villa had the idea of a type of Taco hard to forget. After meditating regarding the specific taco he wanted to make, he thought:
                What if the customer makes the Taco? A success since the beginning, Jumbo Taco has deleted the competition with it's authentic Taco service.
            </p>



        </section>

        <footer>
            <small>&copy; 2018 - 2021   ---All Rights Reserved ~ Authored by Diego Falcon</small>
        </footer>

    </div>
</body>

</html>
