<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jumbo Taco</title>
    <script src="../js/scripts.js" defer></script>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1 class="header">Jumbo Taco</h1>
            <nav class="navbar">
                <a href="../index.html">Home</a>
                <a href="services.html">Make Your Taco</a>
                <a href="about.html">About</a>
                <a href="contact.html">Contact</a>
            </nav>
        </header>


        <section>
            <form id="formStyle" method="POST">
                <h2 class="formTest">Contact Us</h2>
                <label>Full Name</label>
                <input type="text" name="name" placeholder="Name" id="fullName">
                <h4 id="nameError">Please type in your Name</h4>
                <label>Email</label>
                <input type="email" name="email" placeholder="Write your Email" id="email">
                <h4 id="emailError">Please type in a valid email</h4>
                <label>Comment</label>
                <textarea rows="4" cols="50" name="comment" id="comments"></textarea>
                <h4 id="commentError">Please type in a comment</h4>
                <button type="submit" id="submit" value="Register">Submit</button>
            </form>

        </section>




        <footer>
            <small>&copy; 2018 - 2021   ---All Rights Reserved ~ Authored by Diego Falcon</small>
        </footer>
    </div>
</body>

</html>
