<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jumbo Taco</title>
    <script src="../js/scripts.js" defer></script>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1 class="header">Jumbo Taco</h1>
            <nav class="navbar">
                <a href="../index.html">Home</a>
                <a href="services.html">Make Your Taco</a>
                <a href="about.html">About</a>
                <a href="contact.html">Contact</a>
            </nav>
        </header>
        <h2 class="thankYou">Thank you, we'll contact you as soon as possible</h2>
        <footer>
            <small>&copy; 2018 - 2021   ---All Rights Reserved ~ Authored by Diego Falcon</small>
        </footer>

    </div>
</body>

</html>
